.map {
  height: 500px;
  width: 100%;
  background-color: #b5d0d0;
}

.half-map {
  float: left;
  height: 500px;
  width: 50%;
  background-color: #b5d0d0;
}

#popup, .myCustomClass {
  background: red
}

#myposition > .ol-mouse-position {
  position: relative;
  margin-left:20px;
  font-size: 30px;
}
